<ion-header>
  <ion-toolbar>
    <ion-title size="large">Tasks</ion-title>
    <ion-button fill="clear" slot="end" (click)="deleteTasks()">
      <ion-icon name="trash-outline" color="danger"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let task of tasks">
      <ion-checkbox color="secondary" (ionChange)="deleteTask($event, task)"></ion-checkbox>
      <ion-label>{{ task }}</ion-label>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="danger" (click)="presentModal()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
