<ion-header>
  <ion-toolbar>
    <ion-title size="large">Home</ion-title>
    <ion-button fill="clear" slot="end"></ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="logo" src="assets/interact.png" alt="">
  <progress-bar [progress]="(points / milestone) * 100" [color]="'#105086'"></progress-bar>
  <div class="stats">
    <span class="left"><strong>Points:</strong> {{ points }}</span>
    <span class="right"><strong>Next Milestone:</strong> {{ milestone }}</span>
  </div>
</ion-content>
